@import url('https://fonts.googleapis.com/css2?family=Acme&family=Nunito:ital@0;1&display=swap');

body {
font-family: 'Nunito', sans-serif;
font-weight: normal;
}


h1 {
font-family: 'Acme', sans-serif;
font-weight: normal;
}

