/* @import url('https://fonts.googleapis.com/css2?family=Acme&family=Nunito:ital@0;1&display=swap'); */

:root {
  --h1-color: #450d8f;
  --next-heading-color: #4b3d5f;
  --background-dark: #cbc3d6;
  --bckground-light: #f9f7fe;
  --h1-font-family: "Acme", sans-serif;
  --default-font-family: "Nunito", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.navbar-logo {
  width: 130px;
}

.first-screen {
  padding: 110px 20px 200px;
  text-align: center;
  background: var(--bckground-light);
}

.shecodes {
  color: var(--h1-color);
}

.first-screen h1 {
  font-family: var(--h1-font-family);
  font-size: 60px;
  color: var(--h1-color);
  line-height: 1;
}

.first-screen h2,
h3 {
  color: var(--next-heading-color);
  padding: 20px;
}

.first-screen h2 {
  font-size: 35px;
}

.first-screen h3 {
  font-size: 25px;
}

h4 {
  color: var(--h1-color);
  text-align: center;
}

.projects-page, .contact-page {
  text-align: center;
}

.projects-page h1 {
  font-family: var(--h1-font-family);
  font-size: 60px;
  color: var(--h1-color);
  padding: 60px 20px 5px;
}

.projects-page h2 {
  color: var(--h1-color);
  padding: 20px;
}

.projects-page-subtitle {
  font-size: 22px;
  color: var(--next-heading-color);
  padding: 0 15px 20px;
}

.contact-page h1 {
  font-family: var(--h1-font-family);
  font-size: 60px;
  color: var(--h1-color);
  padding: 60px 20px;
  text-align: center;
}

.first-screen button {
  background: var(--h1-color);
  border-radius: 8px;
  border: 1px solid #2b2336;
  color: white;
  font-size: 20px;
  padding: 18px 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

.second-screen button {
  display: block;
  margin: 0 auto;
  background: var(--h1-color);
  border-radius: 8px;
  border: 1px solid #2b2336;
  color: white;
  font-size: 20px;
  padding: 18px 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

.projects-buttons {
  display: block;
  margin: 0 auto;
  background: var(--h1-color);
  border-radius: 8px;
  border: 1px solid #2b2336;
  color: white;
  font-size: 20px;
  padding: 18px 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
  font-weight: bold;
}

.button-link {
  color: white;
  text-decoration: none;
}

.second-screen h2 {
  color: var(--h1-color);
  padding-top: 30px;
  font-size: 35px;
  text-align: center;
}

.caption {
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  font-style: italic;
  color: var(--next-heading-color);
  font-size: 15px;
}
.text-about-me {
  display: flexbox;
  column-count: 2;
  text-align: left;
  justify-content: center;
  align-content: center;
  gap: 25px;
  border-radius: 10px;
  color: var(--next-heading-color);
  font-size: 17px;
  margin: 20px;
  background-color: var(--background-dark);
  padding: 20px;
}

.text-about-me h4 {
  color: var(--h1-color);
  padding-top: 20px;
  font-size: 25px;
  text-align: center;
}

.text-about-projects {
  text-align: left;
  font-size: 17px;
}

.text-link {
  text-decoration: none;
}

.contact-items {
display: inline-block;
margin: 0 auto;
text-align: left;
}
.contact-items a {
  color: var(--next-heading-color);
  font-size: 18px;
  text-decoration: none;
  padding: 0 15px;
}

.contact-items i {
  color: var(--h1-color);
  font-size: 19px;
}

footer {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 600px;
  border-radius: 10px;
  background-color: var(--bckground-light);
  text-align: center;
}

footer a {
  color: var(--h1-color);
  font-size: 2pc;
  text-decoration: none;
  padding: 0 50px;
}

.footer-caption {
  font-size: 12px;
  text-align: center;
  padding: 10px;
  color: var(--next-heading-color);
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .first-screen {
    padding: 50px 15px 80px;
  }

  .first-screen h1 {
    font-size: 50px;
  }

  .text-about-me {
    font-size: 16px;
    margin: 15px;
    padding: 15px;
    text-align: justify;
    column-count: 1;
  }

  .text-about-me h4 {
    font-size: 22px;
  }
  .text-about-projects {
    text-align: center;
    font-size: 16px;
    padding: 0 8px;
  }

  .projects-page h1 {
    font-size: 50px;
  }

  .projects-page-subtitle {
    font-size: 20px;
    padding: 0 15px 10px;
  }

  .contact-page h1 {
    font-size: 50px;
  }

  .contact-page img {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .text-about-me {
    display: block;
    margin: 20px auto;
    max-width: 850px;
  }
  .contact-page img {
    width: 40%;
  }

  .contact-items a {
    font-size: 22px;
 
}
}

@media (max-width: 280px) {
  footer a {
    font-size: 20px;
  }
  .contact-page img {
    width: 75%;
  }

  .contact-items a {
   font-size: 16px; 
}
}
