/* @import url('https://fonts.googleapis.com/css2?family=Acme&family=Nunito:ital@0;1&display=swap'); */

:root {
  --h1-color: #450d8f;
  --next-heading-color: #4b3d5f;
  --background-dark: #cbc3d6;
  --bckground-light: #f9f7fe;
  --h1-font-family: "Acme", sans-serif;
  --default-font-family: "Nunito", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.navbar-logo {
  width: 130px;
}

.first-screen {
  padding: 100px 20px 150px;
  text-align: center;
  background: var(--bckground-light);
}

.shecodes {
  color: var(--h1-color);
}

.first-screen h1 {
  font-family: var(--h1-font-family);
  font-size: 60px;
  color: var(--h1-color);
  line-height: 1;
}

.first-screen h2,
h3 {
  color: var(--next-heading-color);
  padding: 20px;
}

.first-screen h2 {
  font-size: 35px;
}

.first-screen h3 {
  font-size: 25px;
}

h4 {
  color: var(--h1-color);
  text-align: center;
}

.first-screen button {
  background: var(--h1-color);
  border-radius: 8px;
  border: 1px solid #2b2336;
  color: white;
  font-size: 20px;
  padding: 20px 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

.second-screen button {
  display:block;
  margin: 0 auto;
  background: var(--h1-color);
  border-radius: 8px;
  border: 1px solid #2b2336;
  color: white;
  font-size: 20px;
  padding: 20px 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;

}

button:hover {
  opacity: 0.9;
  cursor: pointer;
  font-weight: bold;
}
.button-link {
  color: white;
  text-decoration: none;
}

.second-screen h2 {
  color: var(--h1-color);
  padding-top: 30px;
  font-size: 35px;
  text-align: center;
}

.caption {
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  font-style: italic;
  color: var(--next-heading-color);
  font-size: 15px;
}
.text-about-me {
  display: flexbox;
  column-count: 2;
  text-align: left;
  justify-content: center;
  align-content: center;
  gap: 25px;
  border-radius: 10px;
  color: var(--next-heading-color);
  font-size: 17px;
  margin: 20px;
  background-color: var(--background-dark);
  padding: 20px;
}

.text-about-me h4 {
  color: var(--h1-color);
  padding-top: 20px;
  font-size: 25px;
  text-align: center;
}

.text-about-me   img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .first-screen {
    padding: 50px 15px 80px;
  }

  .first-screen h1 {
    font-size: 50px;
  }

  .text-about-me {
    font-size: 16px;
    margin: 15px;
    padding: 15px;
    text-align: justify;
  }

  .text-about-me h4 {
    font-size: 22px;
  }
}

@media (min-width: 900px) {
  .text-about-me {
    display: block;
    margin: 20px auto;
    max-width: 950px;
  }

  .container img {
    max-width: 500px;
    display: block;
    margin: 10px auto;
  }
}

.footer {
  background: var(--bckground-light);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.footer a {
  color: var(--h1-color);
  font-size: 2pc;
}
